/* .container {
    color: #fff;
    background-image: url('../../assets/search-bg.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat; 
}

.search-hero {
    max-width: 80%;
    max-height: 10%;
}

.form-control {
    width: 200px;
    height: 15px;
}

.form-control::placeholder {
    font-family: FontAwesome;
}

table {
    border-collapse: collapse;
    overflow: auto;
  
}

td,
th {
    
    text-align: left;
    padding: 8px;
}

.cityList {
    overflow: auto;
    height: 400px;
}

S button {
    margin-top: 100px;
}  */

.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

img.search {
    width: 10px;
    margin-right: 10px;
}