<div class="container" [@shrinkOut]="state">
    <div class="text-center" [@shrinkOut]="isOpen" (@shrinkOut.start)="onAnimationEvent($event)" (@shrinkOut.done)="onAnimationEvent($event)">
        <h1>Search for a city</h1>
    </div>
    
        <div class="search-hero d-inline-flex">
            <img src="../../assets/search.png" class="search"/>
            <input class="form-control active-pink-2" type="text" name="search" [(ngModel)]="searchText" placeholder="Start searching for a city by name ">
        </div>
        <div class="cityList" (scroll)="onScroll($event)">
            <ul *ngFor="let cityName of cityInfo[0] | filterpipe:searchText" >
                <li>{{cityName.name}}</li>
            </ul>
        </div>
   
    <div>
        <button (click)="backToHome()">back to home page </button>
    </div>
</div>